* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(255, 248, 253);
  padding: 5px;
}

.display-container {
  display: flex;
  gap: 40px;
  padding-bottom: 5px;
  height: 100%;
}

.todo-display {
  flex: 1;
  height: 100%;
}

.current-project-header {
  /* background-color: rgba(127, 255, 212, 0.349); */
  text-shadow: 2px 2px 0 rgba(221, 191, 255, 0.848);
}

.project-list {
  /* background-color: rgba(156, 243, 255, 0.349); */
}

.project-link:hover {
  color: red;
  cursor: pointer;
}

.project-link.being-renamed {
  color: black;
  cursor: auto;
}

.todo-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.wood {
  color: burlywood;
  font-size: 70px;
}

.todo-element-container {
  width: min(500px, 100%);
  height: max-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(178, 77, 166);
  border-radius: 20px;
  color: rgb(38, 17, 79);
}

.todo-title, .description  {
  overflow: scroll;
}

.editing, .being-renamed {
  border: 1px solid rgb(0, 138, 169);
  border-radius: 3px;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.todo-top-row {
  display: flex;
  justify-content: space-between;
}

.todo-information-container {
  display: grid;
  grid-template-columns: 12ch 1fr; /* the first value is the max length of the inner labels*/
  gap: 5px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.todo-element-buttons-container ,
.project-element-buttons-container {
  display: flex;
  column-gap: 5px;
}

button {
  border-radius: 5px;
  padding: 1px 5px;
  cursor: pointer;
}

.todo-element-buttons-container button,
.project-element-buttons-container button, 
.modal-content-container button {
  background-color: rgba(198, 148, 221, 0.603);
  border: 2px solid rgb(255, 209, 249);
}

.add-new-todo-button,
.add-new-project-button {
  background-color: rgba(225, 161, 255, 0.381);
  border: 2px solid rgba(182, 133, 255, 0.395);
}

.todos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
}

.todo-display {
  flex: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.project-display {
  padding: 5px;
  border-right: 2px dotted rgb(73, 32, 148);
}

.project-list {
  border-top: 2px dotted rgb(73, 32, 148);
  border-bottom: 2px dotted rgb(73, 32, 148);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.project-pane-row-container {
  padding: 0 0 5px 0;
}

.project-pane-row-container:not(:last-child) {
  border-bottom: 2px dotted rgb(219, 175, 219);
}

.sort-options-container select {
  background-color: rgba(221, 160, 221, 0.29);
  border: 2px solid rgba(169, 89, 160, 0.171);
  border-radius: 5px;
}

.sort-options-container label {
  width: max-content;
}
.sort-options-container {
  display: flex;
  column-gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}

.hidden , 
.modal.hidden {
  display: none;
}

.complete-mark {
  cursor: pointer;
  font-size: 1.5rem;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  width: max(25%, 400px);
  background-color: rgb(207, 206, 238);
  padding: 10px;
  border-radius: 10px;
  border: 5px solid rgb(115, 73, 149);
}

.modal-content-container button {
  justify-self: end;
  width: 13ch
}

.input-field, .input-field-label, .error-display {
  grid-column-start: 1;
  grid-column-end: -1;
}

.input-field {
  width: 100%;
  border: 2px dashed rgb(248, 217, 254);
  border-radius: 5px;
  margin-bottom: 20px;
}

.input-field:focus {
  border-style: groove;
  outline: none;
}

.input-field-label {
  color: rgb(38, 17, 79);
  margin-bottom: 5px;
}

.input-field-label::after {
  content: ':';
}

textarea {
  padding: 0;
  margin: 0;
  resize: vertical;
  width: 100%;
}